[submodule "content"]
	path = content
	url = git@github.com:Melindrea/smaty.se-content.git
[submodule "lib"]
	path = lib
	url = git@github.com:Melindrea/nodejs-lib.git
[submodule "templates"]
	path = templates
	url = git@github.com:Melindrea/nodejs-templates.git
[submodule "assets"]
	path = assets
	url = git@github.com:Melindrea/smaty.se-assets.git
