<article id="author-box">
    <img src="/assets/images/portrait-small.png" width="260" height="260" class="featured-image">

    <p>While technological advances stopped others, she continued seeing the mystical beings that share our world.</p>
</article>
