<ul>
    <li><a href="#top-navigation">Top</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>
<ul>
    <li><a href="/privacy-cookies">Privacy &amp; cookies</a></li>
    <li><a href="/colophone">Colophone</a></li>
    <li><a href="http://smaty.se">Copyright &copy; 2015</a></li>
</ul>
<ul>
    <li>Last updated {{ lastUpdated }}</li>
</ul>
