.l-container {
    @extend %container;
    @extend .clearfix;
}

%stitched {
    background: url('/assets/images/sepia-linen.jpg');
    padding: 2rem;
    border: 2px dashed $white;
    border-radius: 10px;
    box-shadow: 0 0 0 4px $sepia-medium-dark, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}

[role=banner],
main,
[role=contentinfo],
[role=complementary] nav,
#author-box {
    @extend %inner-container;
    @extend %stitched;
    margin-bottom: 2rem;
}

#author-box {
    border: lighten($green-light, 20) 2px dashed;
    color: lighten($green-light, 20);
    font-style: italic;
    @extend .clearfix;

    img {
        padding-bottom: 2rem;
        margin: 0 auto 1.5rem;
        height: auto;
        background-color: #e2e0de;
        transform: rotate(10deg);
    }

    p {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 40em) {
    [role=complementary],
    main {
        float: left;
    }

    [role=complementary] {
         width: calc-span(3, 8);
         padding-right: 2rem;
    }

    main {
         width: calc-span(5, 8);
    }
}

@media screen and (min-width: 60em) {
    main p {
        padding-right: 4rem;
        padding-left: 4rem;
    }
}

@media screen and (min-width: 90em) {
    main p {
        padding-right: 5rem;
        padding-left: 5rem;
    }
}
